# See https://www.dartlang.org/guides/libraries/private-files

# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock
doc/api/

# Flutter plugins metadata
.flutter-plugins
.flutter-plugins-dependencies

# Archivos generados por dart2js (NO afecta tus .js de Node)
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map

# Variables de entorno (mantén secretos fuera del repo)
.env*
